doctype html
html
  head
    link(rel='stylesheet', href='../css/app.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    #podcast-wrapper
      h1 Gombapresszó műsorok
      input(type="search" placeholder="keresés a műsorok között").search
      div
        input(type="checkbox")#oldShow
        label(for="oldShow") Csak régi adás

      hr
      ul#target.list

    script(src="../js/app.js")
