doctype html
html
  head
    link(rel='stylesheet', href='../css/app.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    #podcast-wrapper
      input(type="search").search
      input(type="checkbox")#oldShow
      label(for="oldShow") Régi Adás
      ul#target.list

    script(src="../js/app.js")
