doctype html
html
  head
    link(rel='stylesheet', href='../css/app.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    #podcast-wrapper
      h1 Gombapresszó műsorok
      input(type="search" placeholder="keresés a műsorok között").search
      div
        input(type="radio" name="showtype" value="all-show" checked)#all-show
        label(for="all-show") Összes adás
      div
        input(type="radio" name="showtype" value="new-show")#new-show
        label(for="new-show") Új adások
      div
        input(type="radio" name="showtype" value="old-show")#old-show
        label(for="old-show") Régi adások

      hr
      ul#target.list

    script(src="../js/app.js")
