//// debug baseline grid
//$debug-grid: true;
//// debug typeset elements, their cap height, and baseline
//$debug-type: true;
//// show some information about the current breakpoint and it's config
//$debug-breakpoints: true;
//$debug-allow: true;
//@include megatype;
//$sans: (
//  font-family: 'Oswald, Arial, sans-serif',
//  regular: normal,
//  bold: bold,
//  cap-height: 0.88
//);


* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  color: #333;
  @include typeset($sans, 16px, 2rem, 0, 0);
  font-family: font-family-of($sans);
  padding: 1em 0;
}


h1,
h2,
h3 {
  margin: 0.1em 0 .3em;

  a {
    &,
    &:active,
    &:visited {
      color: inherit;
    }
  }
}

h1 {
}
audio {
  width: 100%;
}

.head {
 text-transform: uppercase;
}

#podcast-wrapper {
}
