@include megatype;

@include baseline-debug-grid;


* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


html, body {
  height: 100%;
  margin: 0;
  max-width: 100%;
}


body {
  line-height: 2rem;
  font-family: font-family-of($sans);
  font-style: normal;
  color: #333;
  padding: 2rem 1rem;
}


h1,
h2,
h3 {
  a {
    &,
    &:active,
    &:visited {
      color: inherit;
    }
  }
}

h1 {
  @include typeset($sans, 46px, 5, 0, 2);
  text-transform: uppercase;
}


hr {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,#ccc 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 50%;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  height: 0;
}

.search {
  border: 1px solid #ccc;
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  width: 20rem;
  max-width: 100%;
}

.checkbox {
  display: none;
  + label {
    padding-left: 24px;
    padding-right: 1rem;
    position: relative;
    @include typeset($sans, 13px, 2, 0, 2);

    &:before {
      border: 1px solid #ccc;
      border-radius: 50%;
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &:checked + label {
    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      border-radius: 50%;
      background: rebeccapurple;
      width: 10px;
      height: 10px;
    }
  }
}
