#target {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.podcast {
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 1;
  box-shadow: 0 0 1px 2px #ccc;
  margin: 5px 5px;
  padding: 5px;
  &__title {
    font-size: 1.5rem;
    word-break: break-word;
  }
}
