#target {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -1rem;
  list-style-type: none;
  padding: 0;
}

.podcast {
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
  //box-shadow: 0 0 1px 2px #ccc;
  margin: 1rem;
  padding: calc(1rem - 1px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }


  &__title {
    @include typeset($sans, 23px, 2, 0, 1);
    color: #ea1d2c;
    word-break: break-word;
  }

  &__date {
    @include typeset($sans, 13px, 2, 0, 2);
    float: left;
  }

  &__duration {
    @include typeset($sans, 11px, 2, 0, 2);
    float: right;
  }

  &__content {
    @include typeset($sans, 14px, 2, 0, 2);
  }

  &__player {
    margin-top: auto;
  }

  &__download {
    font-size: 0;
    float: right;

    svg {
      fill: #ea1d2c;
      height: 30px;
      transition: fill .2s ease-in-out;
    }

    &:hover {
      svg {
        fill: #d21321;
      }
    }
  }

  audio {
    height: 2rem;
    width: calc(100% - 40px);

    &::-webkit-media-controls-panel {
      height: 2rem;
    }

    &::-webkit-media-controls {
      height: 2rem;
    }
    &::-webkit-media-controls-enclosure {
      height: 2rem;
    }
  }
}
