#target {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.podcast {
  box-shadow: 0 0 1px 2px #ccc;
  flex-basis: calc(25% - 10px);
  margin: 5px 5px;
  min-width: 320px;
  padding: 5px;
  &__title {
    font-size: 1.5rem;
    word-break: break-word;
  }
}
